@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

:root {
    --primary-color: darkcyan;
    --primary-color-darker: rgb(2, 48, 59);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado {
    background: rgb(3, 184, 93);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

.bad {
    background: rgb(231, 78, 78);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

